body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
}

main {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

output strong {
    color: gold;
}

.filme-bg {
    background-color: rgba(0, 0, 0, 0.7);
}

.golden {
    border: solid 1px gold;
}

#filmes {
    display: flex;
    overflow: auto;
}
